{% extends 'layout.twig' %}
{% block body %}
  <div class="modal modal-center">
    <div class="center-block">
      <pre>
          ______                          ______           _
         / ____/_  ______ ____  ____     / ____/_  _______(_)__ _   __
        / __/ / / / / __ `/ _ \/ __ \   / / __/ / / / ___/ / _ \ | / /
       / /___/ /_/ / /_/ /  __/ / / /  / /_/ / /_/ / /  / /  __/ |/ /
      /_____/\__,_/\__, /\___/_/ /_/   \____/\__,_/_/  /_/\___/|___/
                  /____/
      </pre>
      <div class="text-center">
        Write to me: <a href="mailto:gurievcreative@gmail.com">gurievcreative@gmail.com</a>
      </div>
    </div>
  </div>

{% endblock %}
